@media (max-width: 1200px)
    .container
        max-width: 960px
    .info
        &-menu
            &__item:not(:last-child)
                margin-right: 14px
    .articles
        &-image
            height: 570px
    .tall
        &-info
            min-width: 320px
        &-info:nth-child(4)
            display: none
    .records
        &-wrap
            flex-direction: column
            align-items: center
        &-sidebar
            flex-direction: row
            align-items: flex-start
            flex-wrap: wrap
            width: 100%
            margin-top: 30px
            margin-left: 113px
            &__one, &__two
                margin-right: 30px
            &__one
                max-width: 265px
            &__two
                max-width: 535px
                &-main
            &__three
                min-width: 265px
                margin-top: -68px  
@media (max-width: 992px)
    .container
        max-width: 700px
    .button
        &__line
            width: 22px
            height: 2px
            background-color: #fff
    .button
        &_info
            display: none
    .info
        // &__button
        //     display: none
        &-menu
            display: none
            &__item
                &_mobile
                    &-visible
                        margin-bottom: 15px
            &_mobile
                background-color: #262D33
                position: fixed
                left: 0
                right: 0
                bottom: 0
                top: 0
                top: 46px
                &-visible
                    display: flex
                    flex-direction: column
                    justify-content: flex-start
                    align-items: center
                    margin-top: 15px
                    margin-bottom: 15px
            &__button
                &_mobile
                    &-visible
                        display: block
                        margin-left: 0
                        padding: 9px 65px 8px 63px
                        margin-top: 11px
                        font-family: Lato, sans-serif
                        font-style: normal
                        font-weight: 400
                        font-size: 14px
                        line-height: 20px
                        color: $light
                        background: #656B70
                        border-radius: 10px
                        text-transform: uppercase
        &__button
            display: none
    .navbar
        &_fixed
            position: fixed
            left: 0
            right: 0
            top: 0
            z-index: 99
        &__button
            width: 22px
            height: 18px
            padding: 0
            display: flex
            align-items: center
            justify-content: space-between
            flex-direction: column
            bottom: none
            background-color: #262D33
    .articles
        margin-top: 60px
        &-wrap
            flex-direction: column
            margin-top: 90px
        &-choice
            display: flex
            justify-content: space-between
            &__info
                min-width: 130px
            &__title
                display: none
            &__text
                padding-left: 10px
                padding-right: 10px
            &__subtitle
                padding-left: 10px
                padding-right: 10px
    .tall
        &-info
            min-width: 350px
        &-info:nth-child(3)
            display: none   
    .records
        &-top
            &__two
                margin-top: 30px
        &-news
            &__top
                flex-direction: column
                align-items: center 
            &__bottom
                flex-direction: column
                align-items: center
                &-two
                    justify-content: center
                    margin-top: 30px
        &-sidebar
            justify-content: center
            margin-left: 35px
            &__three
                margin-top: 0
@media (max-width: 767px)
    .container
        max-width: 767px
        width: 92%
        overflow-x: hidden

    .articles
        &-wrap
            margin-top: 30px
        &-image

        &-choice
            &__info
                min-width: 100px
    .tall
        &-info
            min-width: 50%
    .records
        &-news
            width: 0
            &__bottom
                // &-two
                //     width: 650px
                
                &-card
                    margin-left: 0
                    &:nth-child(2)
                        margin-top: 30px
@media (max-width: 576px)
    .container
        max-width: 480px
        width: 92%
    .articles
        &-title
            font-size: 35px
            line-height: 45px
        &-choice
            &__info:nth-child(6)
                display: none
    .records
        &-top
            &__one
                max-width: 450px
                height: 389px
                &-image
                    min-width: 220px
                &-title
                    font-size: 21px
                    line-height: 26px
                &-bottom
                    width: 450px
                    padding: 13px 35px
        &-sidebar
            margin-left: 0
        &-sidebar__one, &-sidebar__two
            margin-right: 0
@media (max-width: 480px)
    .container
        max-width: 280px
        width: 100%
    .articles
        &-choice
            &__info:nth-child(5)
                display: none
        &-image
            height: 460px
            &:after
                height: 460px
        &-avatar
            top: 30px
            left: 25px
        &-title
            font-size: 22px
            line-height: 30px
            left: 25px
            bottom: 230px
        &-meta
            top: 145px
            left: 25px
        &-wrap
            &__button
                bottom: 88px
                left: 25px
    .tall
        &-info
            min-width: 100%
        &-info:nth-child(2)
            display: none  
    .records
        &-top
            &__avatar
                &-char
                    margin-top: -18px
                    margin-left: 20px
            &__one
                max-width: 280px
                height: 457px
                &-image
                    min-width: 107px
                    height: 190px
                &-title
                    font-size: 15px
                &-subtitle
                    padding-bottom: 11px
                &-bottom
                    width: 280px
                    flex-direction: column
                    align-items: flex-start